@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Inventory System</h1>
    <p class="lead">Online Inventory System.</p>
     
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
               </div>
    <div class="col-md-4">
        <h2></h2>
           </div>
    <div class="col-md-4">
        <h2></h2>
         </div>
</div>